doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/main.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
	body
		div.wrapper
			div.container
				div.left-bar
					block leftbar
				div.content
					block content

	script(src='/js/jquery.min.js')
	script(src='/js/underscore.js')
	script(src='/js/backbone.js')
	script(src='/js/utils.js')
	script(src='/js/Note.js')
	script(src='/js/Notes2.js')
	script(src='/js/notes.js')





