doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/main.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
	body
		div.wrapper
			div.container
				div#left-bar.left-bar
					block leftbar
				div.content
					block content
	script(type="text/template" id="notes-list-tpl" src="/js/notes_list_tpl.js")
		<h2>ha</h2>
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js')
	script(src='/js/utils.js')
	script(src='/js/Note.js')
	script(src='/js/Notes2.js')
	script(src='/js/notes.js')
	script(src='/js/Router.js')




