doctype html
html(lang='en')
	head
		title notes
		link(rel='stylesheet' href='/css/main.css')
		link(rel='stylesheet' href='/css/bootstrap.min.css')
	body
		div.wrapper
			div.container
				div#left-bar.left-bar
					block leftbar
				div.content
					block content
		script(type="text/template" id="notes-list-tpl") <% _.each(notesCol, function(note) { <%> <li> <%= note.title %></li> <% }); %>
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js')
		script(src='/js/Notes.js')
		script(src='/js/bbLogic.js')